@font-face {
  font-family: 'DM Themestia';
  src: url('/DM-THEMESTIA-11382237609.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Extrasquare Mtavruli';
  src: url('/bpg_extrasquare_mtavruli_2009.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}