@font-face {
  font-family: 'DM Themestia';
  src: url('/fonts/DM-Themestia.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Extrasquare Mtavruli';
  src: url('/fonts/Extrasquare-Mtavruli.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}